<!--
<app-child [data]="title" [firstname]="firstname" [lastname]="lastname">

</app-child>
-->
<body style="background-color: rgb(92, 133, 148);">
    
   
<div>
<h3 ><marquee>Employee Management System</marquee></h3> 
</div>
<div>
<h3>Register Here!</h3>
<div style="float:left">
    <img src="">

</div>
</div>
<div class="form-group" class="row">
<form (submit)="onSubmit()" >
    <input  type="text" name="employeename" [(ngModel)]="employeename" placeholder="Employee Name" required>
    <br><br>
    <input  type="number" name="employeenumber" [(ngModel)]="employeenumber" placeholder="Mobile Number" required>
    <br><br>
    <input type="password" name="password" [(ngModel)]="password" placeholder="password" required>
    <br><br>
    <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required>
    
    <br><br> 
    <button class="btn btn-primary">Submit</button>

</form>
</div>
<br><br><br>
<div>
    <form (submit)="onSearch()" >
        
        <input type="text" name="search" [(ngModel)]="search" placeholder="Search Employee" required>

    <br><br>
    <button class="btn btn-primary">Search</button>
    </form>

</div>
<br><br>
<div>
    <form (submit)="onDelete()" >
        
        <input type="text" name="search" [(ngModel)]="delete" placeholder="Delete Employee" required>

    <br><br>
    <button class="btn btn-primary">Delete</button>
    </form>

</div>

<div *ngIf="deleteflag==true && delete!=''">
    <h3 style="color:green">Employee Deleted</h3>
</div>

<div *ngIf="deleteflag==false && delete!=''">
    <h3 style="color:red">Unable To Delete</h3>
</div>



<div *ngIf="check == 1 && search!=''">
   
    <h3 style="color:green;"><b>The employee found!</b></h3>

</div>

<table *ngIf="check == 1 && search!=''">
    <tr>
        <td>employee name   :{{ search}}</td>
        <td>employee number :{{ this.shownumber}}</td>
        <td>employee email  :{{ this.showemail}} </td>
    </tr>
</table>

    



<div *ngIf="check==2 && search!=''">
    <h3 style="color:red">Employee not Found</h3>
</div>

</body>


<footer>&copy; Copyright 2022 Employee Management System
</footer>